__pycache__
.ipynb_chepoints
.vscode
Manuscript/*
Figure/*

Saved_data/*
trained_model/*
IEEEtran_HOWTO.pdf
IEEEtran.cls
Plot_yita.py
plot2.ipynb
history_alpha*.txt
compare.py
RealData_lorenz.npy
Realt_lorenz.npy
RealData_lorenz.npy
Realt_lorenz.npy
FORNN_ABThta.ipynb

!Figure/LDN*
!./Manuscript/Figure/workflow.pdf
!./Manuscript/Figure/workflow.PNG
!./Manuscript/Figure/Table_compare.PNG
!./Manuscript/Figure/bird.svg
